html, body, #root {
  background-color: rgb(21, 58, 21);
  height: 100%;
  width: 100%;
  padding:0;
  margin: 0;
}

p {
  font-size: calc(8px + 3vmin);
}

.navbar {
  /* background-color: #29abe1 !important; */
  background-image: linear-gradient(to right, black , rgb(75, 70, 70));
  position: fixed;
  border-bottom: 2px solid grey;
  top:0;
  width: 100%;
  z-index: 100;
}

.navbar p:hover {
  color: lightgrey !important;
}

.link:hover {
  text-decoration: none;
  color: lightgrey !important;
}

.navbar p {
  font-size: 20px;
  color: white;
  padding: 0px 20px !important;
  margin-top: 10px;
  border-left: 1px dotted grey;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
}

.App-logo {
  margin: 5vh 0;
  height: 30vh;
  margin-right:60px;
  min-height: 30vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .disc {
    animation: disc-spin infinite 5s linear;
    height:8vh;
    margin-top: -100px;
  }
}

.main {
  min-height: 100%;
  padding-top: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  font-size: calc(20px + 2vmin);
  color: #29abe1;
}

.main h1 {
color: white;
margin:0;
font-size:calc(20px + 2.5vw);
height: 30%;
}

.App-link {
  color: #61dafb;
}

.start-main, .saved-main {
  color: white;
  text-align: center;
  padding-top:100px;
}

.start-main h4, .saved-main h4 {
  color: #29abe1;
  margin-bottom: 20px;
}

.btn-info {
  background-color: #29abe1 !important ;
}

.MuiSlider-root {
  color: #29abe1 !important ;
}

.course-input {
  max-width: 400px;
  width: 80%;
  margin:0 auto;
}

.start-play-btn {
margin-top: 30px;
}

@keyframes disc-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.hole-start {
  margin-top: 80px;
  color: white;
  padding:0%;
  text-align: center;
  overflow: hidden;
  width: 100%;
}

.hole-start h4 {
  padding: 8px;
}

.hole-num {
  width: 100%;
  overflow: hidden;
  color: gold;
}

.hole-num {
  animation: 1s slide-right 0s forwards;
  transform:translateX(-100%);
}
@keyframes slide-right {
  to {
    transform:translateX(0);
  }
}

.score-btn {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  margin-bottom: 20px;
}
.score-btn .btn {
  margin: calc(4px + .4vw);
}

.quit-btn, .play-btn {
  display:block;
  margin: 40px auto;
}

.final-score {
  padding: 10px;
}
.other-div {
  display: inline-block;
}

.score-num {
  max-width: 50px !important;
  margin-left: 20px;
}
.other-div {
  display: flex;
  justify-content: center;

}

#otherScore {
  margin:5px;
}

.score-img {
  width: 60%;
  max-width: 400px;
  margin:10px;
}

.score-table {
  display: inline-block;
}


td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

.hidden {
  display: none;
}
